*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0px auto;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;

}
main{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}
.wrapper-main{
    background-color: #ffd166;
}

h1{
    font-size: 40px;
    margin-bottom: 50px;

}

#quiz{
    background-color:white;
    padding: 40px;
    border-radius: 4px;
    max-width: 600px;
    text-align: center;

}

#savol{
    margin-bottom: 20px;
    font-size: 30px;

}
.buttons{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}

.btn{
    padding: 10px 30px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.btn-restart{

    background-color: red;
    font-size: 20px;
}
.btn-restart:hover{
    background-color: rgba(255, 0, 0, 0.589);
}

.btn-next{
    background-color: #0ade0a;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 20px;
}
.btn-next:hover {
    background-color: #0ade0aae;
}
#javoblar{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 30px;
}
.javob-span{
    font-size: 20px;
}

#quiz > p{
    font-size: 25px;
    font-weight: bold;
}

.header-img{
    width: 120px;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;

}
header{
    background-color: #0ade0a;
}

.header-h1{
    color: white;
    padding-top: 20px;
    text-shadow: 2px 4px 10px black;
}
h1{
    color: white;
    text-shadow: 2px 3px 10px black;
}
#footer-button{
    padding: 20px 60px;
    border: none;
    border-radius: 5px;
    background-color: #00aaffeb;
    font-size: 22px;
    color: white;
    cursor: pointer;

}
.btn-previes{
    background-color: blue;
    padding: 15px 30px;
}
.javob-label{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(86, 255, 120, 0.823);
}
.footer-h2{
    color: black;
    font-size: 26px;
    padding-bottom: 30px;
}
#footer-button:hover{
    background-color: #00aaff9c;
}
.footer-img{
    width: 400px;
}
#boshlash{
    padding: 20px 50px;
    font-size: 30px;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    background-color: #ef476f;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
#boshlash:hover{
    background-color: #ef476eb0;
}
